<script>
    document.addEventListener("DOMContentLoaded", function () {
      const imgs = document.querySelectorAll(".image-grid img");
      imgs.forEach(img => {
        function setClass() {
          if (img.naturalWidth > img.naturalHeight) {
            img.classList.add("landscape");
          } else {
            img.classList.add("portrait");
          }
        }
        if (img.complete) {
          setClass();
        } else {
          img.onload = setClass;
        }
      });
    });
    </script>
    